/*.wrap {*/
/*  padding: 20px 0px;*/
/*  border-bottom: 1px solid #ecedef;*/
/*}*/

.wrap p:first-child {
  font-size: 13px;
  margin: 0 0 10px;
  color: #666666;
}

.wrap p:first-child strong {
  color: var(--primary);
}

.wrap h3,
.answer {
  position: relative;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 25px;
}

.wrap h3 span,
.answer span {
  position: absolute;
  left: -30px;
  font-weight: bold;
  color: #111;
  font-size: 14px;
}
.quesAns{
    padding:15px 0;
    border-bottom:1px solid #ecedef;
}
.ques{}
.usrs{
    color: #001524;
    opacity: 1;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.8px;
}
.usrQuestion{
    position: relative;
    padding-left: 20px;
    font-family: "Raleway", sans-serif;
    color: #886f59;
    font-weight: 500;
    line-height: 27px;
    font-size: 17px;
}
.usrQuestion:before{
    content:'Q.';
    position:absolute;
    left:0;
    
}
.dateOfQuestion{
    font-size:14px;
    padding:5px 0;
    font-family:'Karla', sans-serif;
}
.dateOfQuestion i{
    font-size: 10px;
    padding-right: 2px;
}
.dateOfQuestion strong{
    color:#000;
    font-weight:600;
}
.ans p{
    padding-left: 20px;
     position: relative;
     font-style: italic;
}
.ans p:before{
    content: 'A.';
    position: absolute;
    left: 0;
}
.replyBtn{
    background: #e5ba73;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 7px
}