.container {
  display: block;
  max-width: 300px;
  margin: auto;
  padding-top: 15px;
  min-height: 45vh;
  text-align: center;
}

.h2 {
  margin: 10px 0px 25px;
}
.sub_button {
    position: relative;
    background: #3498db;
    border: 0 none;
    color: #fff;
    padding: 8px 20px 8px 70px;
    border-radius: 4px;
    height: 42px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    width: 254px;
    outline: 0;
    overflow: hidden;
}