.measurementPopup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}


.measurementForm {
    width: 600px;
    height: auto;
    background-color: rgb(255, 255, 255);

}